<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
	<link rel="stylesheet" href="../../Scripts/css/base.css"/>
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	@RenderBody()
	<br/>
	<div class="weui-footer">
        <p class="weui-footer__text">Copyright &copy; Maomishen</p>
    </div>
</body>
</html>
