@{
    ViewData["Title"] = "Login";
}

<div class="page__hd">
    <h1 class="page__title">HideMes</h1>
    <p class="page__desc">HideMes 是一套仅针对短信发送的平台。此平台不接受注册。</p>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入账号"/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" placeholder="请输入密码">
        </div>
    </div>
</div>
<div class="weui-cells__tips">* 若没有账号或遗忘账号密码，请与管理员联系。</div>
<div class="page__bd_spacing">
    <a href="javascript:;" class="weui-btn weui-btn_primary">登录</a>
</div>