<div class="weui-msg page">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
		<h2 class="weui-msg__title">13750001622</h2>
        <h2 class="weui-msg__title">开机</h2>
        <p class="weui-msg__desc">创建时间：2017年08月14日22:29:26</p>
		<p class="weui-msg__desc">请求时间：2017年08月14日22:29:26</p>
		<p class="weui-msg__desc">开始等待：2017年08月14日22:29:26</p>
		<p class="weui-msg__desc">获取状态：2017年08月14日22:29:26</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:history.back();" class="weui-btn weui-btn_primary">返回</a>
            <a href="javascript:history.back();" class="weui-btn weui-btn_default">再次获取</a>
        </p>
    </div>
</div>