@{
    ViewData["Title"] = "Home Page";
}

<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">手机号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="tel" placeholder="请输入手机号">
        </div>
        <div class="weui-cell__ft">
            <a href="javascript:;" class="weui-vcode-btn">获取状态</a>
        </div>
    </div>
</div>

<div class="weui-cells__title">历史信息</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <h4 class="weui-media-box__title">13750001622</h4>
            <p class="weui-media-box__desc">2017-6-8 13:32:23</p>
        </div>
        <div class="weui-cell__ft">开机</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <h4 class="weui-media-box__title">13750001622</h4>
            <p class="weui-media-box__desc">2017-6-8 13:32:23</p>
        </div>
        <div class="weui-cell__ft">等待反馈</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <h4 class="weui-media-box__title">13750001622</h4>
            <p class="weui-media-box__desc">2017-6-8 13:32:23</p>
        </div>
        <div class="weui-cell__ft">未知状态</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <h4 class="weui-media-box__title">13750001622</h4>
            <p class="weui-media-box__desc">2017-6-8 13:32:23</p>
        </div>
        <div class="weui-cell__ft">发送中</div>
    </a>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <h4 class="weui-media-box__title">13750001622</h4>
            <p class="weui-media-box__desc">2017-6-8 13:32:23</p>
        </div>
        <div class="weui-cell__ft">错误</div>
    </a>
    
</div>