@{
    ViewData["Title"] = ViewBag.Title;
}
@model HideMessage_web.Models.Messages;
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { name = "send_request"}))
{
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
			    @Html.TextBoxFor(m => m.message_phone_number, null, new { @class= "weui-input", @type= "tel", @placeholder= "请输入手机号"})
            </div>
            <div class="weui-cell__ft">
                <a href="javascript:document.send_request.submit();;" class="weui-vcode-btn">获取状态</a>
            </div>
        </div>
    </div>
}

<div class="weui-cells__title">历史信息</div>
<div class="weui-cells scroll-view">
	@foreach (var message in ViewBag.Messages)
        {
            <a class="weui-cell weui-cell_access" href="javascript:;">
                <div class="weui-cell__bd">
                    <h4 class="weui-media-box__title">@message.message_phone_number</h4>
                    <p class="weui-media-box__desc">@message.message_create_time</p>
                </div>
                <div class="weui-cell__ft">@message.phone_state</div>
            </a>
        }
</div>

<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="js/dropload.js"></script>
<script type="text/javascript">
$(function() {
    $('.scroll-view').dropload({
        scrollArea : window,
    	domUp : {
                domClass   : 'dropload-up',
                domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
                domUpdate  : '<div class="dropload-update">↑释放更新</div>',
                domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中</div>'
            },
        loadUpFn : function(me){
            location.reload();
        }
    });
})

</script>